*, *:before, *:after {box-sizing:  border-box !important;}

/* force scrollbar */
html { overflow-y: scroll; }

body { font-family: sans-serif; }

.heading{
  padding-bottom: 20px;
}

.lightbox {
  position:fixed !important;
  top:20px !important;
  left: 1% !important;
}
.lb-dataContainer{
  background-color: rgba(255,255,255,.8);
}
.lb-caption{
  color:black;
}

.grid:after {
  content: '';
  display: block;
  clear: both;
}

.grid-item {
  float: left;
  margin: -10px;
}

.grid-item img {
  display: block;
  max-width: 100%;
}

.loading{
  margin: 0 auto;
  width: 200px;
  height: 200px;
}

.container{
  width:100%;
  padding: 0px;
}

.col-md-4{
  padding: 0;
}
.panel{
  margin-bottom: 0px;
}

.panel-body{
  padding: 0;
}

@media(max-width:768px){
  .heading{
    padding: 10px 20px;
  }
}
